html{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family:Arial, Helvetica, sans-serif;
}

.menu-container {
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.menu {
    width: 900px;
    display: flex;
    margin: 40px;   
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

ul li {
    list-style-type: none;
    font-weight: bold;
    margin: 0px 20px;
}

.login {
    font-size: 12px;
    margin-top: 50px;
    text-decoration: underline;
}

li:hover {
    opacity: 0.5;
}

.logo-container {
    width: 120px;
    height: 120px;
    
}

/* ------- BANNER IMAGE */


.banner {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

#bannerplane {
    width: 100%;
    height: auto;
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}
