
.menu-container {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  font-size: 20px;
}


.menu {
  width: 900px;
  display: flex;
  margin: 40px;   
}

a:link, a:visited {
color: #ffffff;
text-decoration: none;
font-weight: bold;
}

ul li {
list-style-type: none;
font-weight: bold;
margin: 0px 20px;
}



.logo-container{
  width: 120px;
  height: 120px;
  z-index: 2;
  }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 51%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 20px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #0658f1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px;
    
   
  }
  
    /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: #46475f;
  }
  

 /* Add a background color and some padding around the form */
 .container{
  border-radius: 5px;
  background-color: #dfdfdf;
  padding: 20px;

}
.form-field {
  margin-bottom: 0.5em;
}

.form-field label {
  display: inline-block;
  font-weight: bold;
  width: 6em;
}

.contact-form {
  border: 1px solid #DDD;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#form-container {
  margin-bottom: 1em;
}
/* ------- FOOTER */

.footer {
  display: flex;
  justify-content: center;
  color: ivory;
  background-color: #2e2e2e;
  height: 150px;

}

.footer > li {
  margin: 30px;
  color: #ffffff;
  list-style-type: none;
  font-size: 18px;
}